# Dependencies
node_modules/
*/node_modules/

# Environment
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
build/
dist/
uploads/*
!/uploads/.gitkeep

test-api.js